// Note: The design is mobile-first

@import "./_palette.scss";

* {
  box-sizing: border-box;
  outline: none;
}

body {
  position: relative;
	background-color: $p-light;
	color: $p-dark;
	margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Quando', serif;
}

$nav-height: 72px;

.main-window {
  position: relative;
  top: $nav-height;
  padding-bottom: 30px;
  
  .bg-vine {
    z-index: -1;
    width: 300px;
    position: absolute;
    right: 0px;
    opacity: 10%;
    filter: blur(3px);
  }
}

@media only screen and (min-width: 996px) {
  .main-window {
    
    .bg-vine {
      width: 500px;
      
    }
  }
}