// color variables
$bg-primary: #032d15;
$bg-secondary-dark: #000;
$bg-secondary-light: #f8fefb;

$text-primary: #ffffff;

body {
	background-color: $bg-primary;
	color: $bg-secondary-light;
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}
